# Data Science Tools and Ecosysytem

In this notebook,Data Science Tools and Ecosystem are summerized

Some of the Popular Languages that Data Scientist use are:
1. Python
2. R
3. Java
4. Sql

Some of the commonly used libraries used by Data Scientists include :

1. Numpy
2. Pandas
3. Matplotlib
4. SciPy

|Data Science Tools|
|---|
|jupyter notebook|
|TensorFlow|
|ApacheHadoop|

### Below are few examples of evaluating Arithmetic Expression in Python

In [20]:
#This is simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [22]:
#This will convert 200 minutes to hours by divding by 60
200/60

3.3333333333333335

__Objectives__
* List Popular Languages for Data Science
* List Popular Libraries for Data Science
* List Popular Tools for Data Science
* Provide comments line in cell

## Author
Sushmitha